@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

body {
	font-family: 'Roboto Mono', monospace;
	font-size: 0.8rem;
	font-style: normal;
}

@media print {
	body {
		margin: 0;
	}
}

.container {
	width: 80%; /* Limit the width of the container */
    margin: 0 auto;  /* Center the container horizontally */
}

h1 {
	font-size: 2.5rem;       /* Large header size */
    color: #2b6cb0;          /* Blue color */
	margin-bottom: 1rem;
}

h2 {
    font-size: 2rem;         /* Slightly smaller than h1 */
    color: #2c5282;          /* Darker blue */
	margin-bottom: 0.75rem;
}

h3 {
    font-size: 1.5rem;      /* Smaller than h2 */
    color: #2a4365;          /* Even darker blue */
    margin-bottom: 0.5rem;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #ffffff; /* White background for the table */
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
	font-size: 0.8rem;
}

th {
    background-color: #f0f0f0;
	color: #333;
    font-weight: bold;
	white-space: nowrap;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

td {
    white-space: normal;
	overflow-wrap: normal;
	word-break: auto-phrase;
}

td:nth-last-child(-n+2) {
  overflow-wrap: anywhere;
  white-space: pre-wrap;
}
